body {
    background-image: url("../images/nightsky.jpg");
    background-color: black;
    color: white;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav {
    background-color: black;
    margin-bottom: 30px;
}
li:hover {
    background-color: #1F1E1E;
}
a:hover{
    color: #C46607;
}
.page-footer {
    background-color: black;
    border-top: 6px solid #C46607;
}

main {
    flex: 1 0 auto;
  }
header {
    /* padding: 80px; */
    background-image: url(../images/bloodmoon.jpg);
    background-position: center;
    background-size: 55%;
    background-color: black;
    border-bottom: 1px solid white;
    padding-bottom: 63px;
    padding-top: 35px;
    background-repeat: no-repeat;
}

h1 {
    border: solid 4px white;
    width: 40%;
    font-size: 85px;
    margin: 0 auto;
    padding: 30px;
    font-family: 'Josefin Sans', sans-serif;
}

.tables {
    background-color:rgba(0,0,0,0.7);
    height: 100%;
}

.connect {
    width: 65px;
    height: 65px;
}
.divider {
    border: 1px solid #C46607;
}